{% extends "layout.html" %}
{% block title %}DccSm System{% endblock %}

{% block content %} 
    <section class="container">
        <div class="block">
            {% for node in all_nodes %}

                <div class="nodes">
                    <div class="boxes">
                        <div class="box">
                            <div class="box-content">
                                <div class="node">
                                    <div class="head">
                                        <h3>{{ node }}</h3>
                                    </div>
                                    <div class="body">
                                        <div class="element processor">P {{node.id}}</div>
                                        <span class="fa fa-arrows-up-down fa-fade"></span>
                                        <div class="element cash">
                                            <div class="responsive-table">
                                                <table class="table table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th class="fw-bolder text-uppercase">Block</th>
                                                            <th class="fw-bolder text-uppercase">Data</th>
                                                            <th class="fw-bolder text-uppercase">Etat</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if node.all_caches %}
                                                            {% for cache in node.all_caches %}
                                                                {% if cache.state_cache == '4' %}
                                                                    <tr class="text-danger">
                                                                        <td>{{cache.bloc}}</td>
                                                                        <td>--</td>
                                                                        <td>{{cache.state_cache_state}}</td>
                                                                    </tr>
                                                                {% else %}
                                                                    <tr>
                                                                        <td>{{cache.bloc}}</td>
                                                                        <td>{{cache.bloc.data}}</td>
                                                                        <td>{{cache.state_cache_state}}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            <!-- Visible by default  -->
                                                            <tr>
                                                                <td class="text-danger">Cache vide</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <span class="fa fa-arrows-up-down fa-fade"></span>
                                        <div class="element memoire homememory">MM {{node.id}}</div>
                                    </div>
                                </div>
                                <div class="connector"><span class="fa fa-arrows-up-down fa-fade"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="connections-box">
            <p>Interconnection Network</p>
        </div>
    </section>
    <section class="input-display">
        
        <div class="input">
            <form action="#" method="post" enctype="multipart/form-data" id="formControl">
                <div class="form-group">
                    <select name="node">
                        {% for node in all_nodes %}
                            <option value={{node.id}}>{{node.node_string}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select name="block" >
                        {% for block in directory %}
                            <option value={{block.id}}>{{block.string_block}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input name="data" required="" type="text" id="EnteredData" placeholder="Enter data ...">
                </div>
                <div class="btns">
                    <button type="button" onclick="readData()" class="btn btn-primary">Read</button>
                    <button type="button" onclick="writeData()" class="btn btn-secondary">Write</button>
                    <a href="{{ url_for('dccsm.data_initialisation') }}" class="btn reset">Reset</a>
                </div>
            </form>
        </div>


        <div class="container-output">
            <div class="repertoire">
                <div class="card">
                    <div class="card-header fw-bolder text-uppercase">Repertoire</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Block</th>
                                        <th>C. State</th>
                                        <th>Sharer / Owner Bits</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dir in directory %}
                                        <tr>
                                            <td>{{dir.bloc}}</td>
                                            <td>{{dir.state_directory}}</td>
                                            <td>{{dir.owner_bits}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="card">
                    <div class="card-header fw-bolder text-uppercase">Messages</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Message Type </th>
                                        <th>Source</th>
                                        <th>Destination</th>
                                        <th>Content</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if messages %}
                                        {% for msg in messages %}
                                            {% if msg.type_message == 'Read Miss' or msg.type_message == 'Write Miss' or msg.type_message == 'Fetch/Invalidate' or msg.type_message == 'Invalidate' %}
                                                <tr class="text-danger">
                                                    <td>{{msg.type_message}}</td>
                                                    <td>{{msg.source}}</td>
                                                    <td>{{msg.destination}}</td>
                                                    <td>{{msg.content_msg}}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>{{msg.type_message}}</td>
                                                    <td>{{msg.source}}</td>
                                                    <td>{{msg.destination}}</td>
                                                    <td>{{msg.content_msg}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}              
                                        <tr>
                                            <td class="text-danger">Aucun message</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="toast">
        <div class="item">
            <i class="fa-solid fa-exclamation-triangle warning-icon"></i>
            <div class="toast-message">Veiller faire reaset pour bien afficher les messages</div>
        </div>
        <i class="toast-close fa-solid fa-x"></i>
    </div>
{% endblock %}

