<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>{% block title %}DccSm{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{url_for('static', filename='logo.png')}}" alt="DccSm System">
        </div>
    </nav>
    <header>
        <h1>Directory-based cache coherence simulator</h1>
    </header>

    <div class="container">{% block content %} {% endblock %}</div>
    
    <footer class="footer">
        <div class="footer-content">
            <p class="copyright"><span>@DccSm </span>System 2023</p>
            <p>
                Designed & Implemented by <br>
                <span>M. Ashuza</span>
            </p>
        </div>
    </footer>


    
    {% block javascript %}
        <script type="text/javascript">
            console.log("Hello");
            function readData() {
                const form_command = document.getElementById('formControl');
                console.log("hello.......")
                console.log(form_command);

              
            }
            function writeData(){
                const form_command = document.getElementById('formControl');
                const data = document.getElementById('EnteredData');
                console.log(data.value);
               
            }
        </script>
    {% endblock %}
</body>
</html>